/* Estilos para summa */
.skin-green-light .main-header .navbar {
    background-color: black !important;
}

.skin-green-light .sidebar-menu>li:hover>a, .skin-green-light .sidebar-menu>li.active>a {
    background-color: #4265ae !important;
}

.skin-green-light a, .skin-green-light a:hover, .skin-green-light a:focus {
    color: #4265ae;
}


.form-group > label{
    display: block;
}

.select2{
    width: 100% !important;
}

/* Box */
.box.box-success {
    border-top: 3px solid #00a65a !important;
}

.box.box-info {
    border-top: 3px solid #00c0ef !important;
}

.box .box-header .box-title {
    font-size: 18px;
}

.box .box-header .box-title {
    font-size: 14px;
}

table{
    font-size: 14px;
    font-weight: lighter;
}
/* Box */

